<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289959105018-qn87gjtura2bq8ur5sgedqr7naueqik1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289959105018-qn87gjtura2bq8ur5sgedqr7naueqik1</string>
	<key>API_KEY</key>
	<string>AIzaSyAHIbn5lA_bMu1s1nddIkX79YFmPdpj_gU</string>
	<key>GCM_SENDER_ID</key>
	<string>289959105018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geocomply.testNetworkExtension</string>
	<key>PROJECT_ID</key>
	<string>hi-shop-sl</string>
	<key>STORAGE_BUCKET</key>
	<string>hi-shop-sl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289959105018:ios:772abb18d21c2177839443</string>
</dict>
</plist>